{ 기술을 혁신하는 법 }

1. 반드시 필요한 기능을 정하기
2. 해당 기능을 구현해야할 때, 어떤 constraint가 최우선인지 정하기
3. 가능한 최적의 방법들을 시도해본다. (극단적인 효율을 내는 경로가 존재하는 지 탐색)

{ 코드 작성 원칙 }

0. 문제 정의하기, 요구사항 분석하기
1. 데이터처리 흐름 기준으로 몇 가지 함수로 전체 로직 나누기
2. function 키워드 호이스팅을 이용한 두괄식 코드
3. 적절한 디자인 패턴 활용하기

{ 코드 분석 원칙 }

1. 사용된 문법 분석
2. 사용된 로직 분석
3. 사용된 디자인 패턴 분석